[user]
    name = Jeff Blaisdell
    email = jeff.blaisdell@gmail.com
[push]
    default = simple
[difftool  "dw"]
    path = '/Applications/DeltaWalker.app/Contents/MacOS/git-difftool'
    cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-difftool' "$LOCAL" "$REMOTE"
[diff]
    tool = vimdiff
[mergetool  "dw"]
    path = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge'
    cmd = '/Applications/DeltaWalker.app/Contents/MacOS/git-merge' "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
[merge]
    tool = dw
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    br = branch
    cd = checkout develop
    co = checkout
    df = difftool -t dw -d
    fa = fetch --all
    l = log --relative --graph
    ls = log --relative --graph --stat
    pf = "!if [ `git rev-parse --abbrev-ref --symbolic-full-name '@{u}' |sed -e 's#/.*##'` != 'upstream' ]; then git push -f; else echo 'DO NOT PUSH FORCE TO UPSTREAM'; fi"
    s = status
    b = branch -vv
